.CardPanel {
  margin-top: -16px;
  margin-bottom: 16px;
  padding: 12px;

  background: #ffffff;

  border-radius: 0 0 3px 3px;

  box-shadow: 1px 1px 1px 0px rgba(74, 74, 74, 0.5);

  position: relative;
  overflow: hidden;

  z-index: 10;

  div.flex {
    display: flex;
  }

  @media (min-width: 1180px) {
    .push-right {
      margin-left: auto;
    }
  }

  .margin-right {
    margin-right: 10px;
  }

  .loading,
  .error {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    z-index: 20;
    background: rgba(#ffffff, 0.92);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .loading {
    color: $nep-dark-gray;
  }

  .error {
    color: $nep-red;
  }
}

.CardPanel h3 {
  font-size: 16px;
  font-weight: normal;
  color: $nep-dark-gray;
  margin: 0;

  line-height: 22px; // TODO MCSS
}

.CardPanel table {
  margin-bottom: 20px;
}
