.modal-content {
  .row {
    margin-bottom: 0;
  }

  label {
    display: inline-block;
    font-size: inherit;
  }

  select {
    display: inline-block;
    width: inherit;
  }

  .modal-footer {
    .btn {
      margin-left: 10px;
    }
  }
}

.email-preview {
  margin: 10px;
  padding: 10px;

  border: 1px solid $nep-highlight;

  .email-preview-header {
    padding-bottom: 10px;
    border-bottom: 1px solid $nep-highlight;
  }

  .email-preview-body {
    max-height: 300px;
    overflow-y: scroll;
  }

  .email-preview-select-liaison {
    float: right;
  }
}
