<!-- Universal styles for email templates -->

<style type="text/css">

  table.email-outer {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background: #fff;
    color: #333;
  }
  img { display: block }
  a {
    color: #333;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
  }
  h2 a {
    text-decoration: none;
  }
  table {
    border-spacing: 0px;
  }
  table.email-inner {
    margin: 20px auto 10px auto;
    background: #fff;
    border: 2px solid #e3e3e3;
  }
  table.email-header {
    border-bottom: 2px solid #e3e3e3;
    padding: 20px 20px;
    background-color: #fdfdfd;
    width: 100%;
  }
  table.email-body {
    margin: 20px auto 10px auto;
    padding: 0 20px 10px 20px;
    max-width: 600px;
  }
  table.email-footer {
    font-size: 11px;
    color: #999;
    margin: 0 auto 25px auto;
    text-align: center;
  }
  table.email-footer a {
    color: #999;
  }
  td.practice-info {
    text-align: center;
    padding: 20px 0px;
  }
  td.practice-info img {
    margin: 0px auto;
  }
  td.practice-info h2 {
    margin-bottom: 0px;
  }
  .commenter-info {
    height: 40px;
  }
  .commenter-info .commenter-image {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-size: 40px 40px;
    margin-right: 10px;
    float: left;
    background-color: #999;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .commenter-info a {
    color: #ff7e6b;
    font-weight: bold;
    line-height: 40px;
    float: left;
    text-decoration: none;
  }
  td.comment-info .comment-text {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    border-left: 3px solid #999;
  }
  td.comment-info .comment-text p {
    font-size: 16px;
    font-style: italic;
  }
  .spacer {
    display: block;
    margin: 0px auto;
    border-bottom: 1px solid #ccc;
    width: 200px;
  }
  a.cta, button.cta {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    max-width: 300px;
    margin: 10px auto 5px auto;
    padding: 10px;
    white-space: nowrap;
    background-color: #1DADEA;
    text-align: center;
  }
  pre {
    /* Assuming you just want to keep the 'pre' look */
    /* This is really what you need but the rest help */
    white-space: normal;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  }
</style>