{#

  IMPORTANT: potential XSS vulnerability; understand this before coding in
  this file.

  Any place where data is included here with the "safe" filter will PERMIT
  dangerous code to be displayed to the user. It labels the data as "trusted".
  This filter should only be used when the data is hard-coded by PERTS **and**
  when it must contain html for display.

  When data need not contain html for display, do not use the safe filter.

  When data might come from users, for example when displaying responses from
  survey participants, do not use the safe filter.

  In other words these are okay:

    This is template code with {{ trusted_html_string | safe }}.

    This is a user's {{ unsafe_response_containing_evil_code }} but it will be
    escaped so it's okay.

  This is BAD and will burn your house down:

    Displaying {{ unsafe_response_containing_evil_code | safe }} is NOT SAFE.

#}

{# Avoid "blah is not defined" errors by setting defaults for needed vars. #}
{% set survey_label = survey_label or None %}
{% set fidelity_tuq = fidelity_tuq or None %}
{% set fidelity_honest = fidelity_honest or None %}
{% set open_responses = open_responses or [] %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="https://neptune.perts.net/static/css/jurassic.css" />
    <link rel="stylesheet" href="https://neptune.perts.net/static/css/ep.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script>
      var MAX_RESPONSES_COLLAPSED = 4;
      var EXPAND_BUTTON_TEXT = "See More";
      var COLLAPSE_BUTTON_TEXT = "See Fewer";

      function expand(button) {
        jQuery('li', button.parent()).removeClass('hidden');
        button.text(COLLAPSE_BUTTON_TEXT);
      }

      function collapse(button) {
        jQuery('li', button.parent()).each((liIndex, li) => {
          if (liIndex >= MAX_RESPONSES_COLLAPSED) {
            jQuery(li).addClass('hidden');
          }
        });
        button.text(EXPAND_BUTTON_TEXT);
      }

      function toggle(event) {
        var button = jQuery(event.target);

        if (jQuery('li.hidden', button.parent()).length) {
          expand(button);
        } else {
          collapse(button);
        }
      }

      function hideExtraResponses() {
        jQuery('ul.responses').each((ulIndex, ul) => {
          if (jQuery('li', ul).length > MAX_RESPONSES_COLLAPSED) {
            var button = jQuery('<button class="expand-toggle">')
              .click(toggle)
              .insertAfter(ul);
            collapse(button);
          }
        });
      }

      // On page load, loop through open_responses_list and place content for each!
      jQuery(function () {
        hideExtraResponses();
      });

    </script>
  </head>
  <body>
    <div id="header">
      <div id="angled-bar"></div>
      <img
        src="https://www.perts.net/static/images/pertslogo.png"
        class="perts-logo"
      >
    </div>
    <!-- gives a nice white background to the logo when over content -->
    <div id="header-lower-layer"></div>
    <div class="main-container">
      <div style="text-align: center">
        <h1 class="super title">
          Copilot
          Report
        </h1>
        <h1 class="title">
          {{ team_name }}
        <h1 class="sub title">{{ report_date }}</h1>
      </div>

      <h2>Participation Summary</h2>

      <p>
        For this artifact, you&rsquo;ve surveyed
        <strong>{{participation_table_data[0][1]}}</strong> participants so
        far.
      </p>

      <div class="page-break"></div>

      <h2 id="about-your-report">About Your Report</h2>

      <p>
        The graphs below show the percentage of students who responded in the
        ideal range to the associated statements. For more
        information see <a href="#interpreting-the-graphs">Interpreting the
        Graphs</a> at the end of this report.
      </p>

      <h2 id="learning-conditions">Constructs</h2>

      <p>
        You assessed the following constructs:
      </p>

      <div>
        {% for lc in learning_conditions %}
          {% if lc.active %}
            {% set lc_config = config['learning_conditions'][lc.label] %}
            <ul>
              <li>
                <a href="#{{ lc_config['label'] }}">
                  {{ lc_config['name'] }}
                </a>
              </li>
            </ul>
          {% endif %}
        {% endfor %}
      </div>

      <div class="page-break"></div>

      {% for lc in learning_conditions %}

        {% if lc.active %}

          {% set lc_config = config['learning_conditions'][lc.label] %}

          <div class="learning-condition-section">

            <div class="vertical-center">
              <div style="text-align: center">
                <img
                  src="{{ lc_config['img_url'] }}"
                  class="learning-condition-graphic"
                >
                <a
                  href="https://www.perts.net/conditions-{{ lc_config['label'] }}"
                  class="learning-condition-recommendations"
                >
                  <button>See<br>Recommendations</button>
                </a>
              </div>
              <div>
                <h3 id="{{ lc.label }}">Learning Condition: {{ lc_config['name'] }}</h3>
                {% if lc_config['description'] %}
                  {#
                    IMPORTANT! See the warning at the top of this file
                    regarding the "safe" filter.
                  #}
                  {{ lc_config['description'] | safe }}
                {% endif %}
              </div>
            </div> <!-- end .vertical-center -->

            <div class="vertical-center"> <!-- pct-improve information -->
              {% if lc.pct_improve_string_list %}
                <div class="percent-improved">
                  <p>
                    <span class="good-stat">
                      +{{ lc.pct_improve_string_list[0] }}%
                    </span>
                    on average since starting:
                    <span class="encourage-message">
                      {{ lc.pct_improve_string_list[1] }}
                    </span>
                    Overall, {{ lc.pct_improve_string_list[2] }}{{ lc.pct_improve_string_list[3] }}
                  </p>
                </div>
              {% endif %}
            </div> <!-- end .vertical-center -->



            {% if lc.timeline_active and lc.timeline_chart_64 %}
              <figure class="ggplot">
                <figcaption>{{ lc_config['name'] }} over time</figcaption>
                <img src="data:image/png;base64,{{ lc.timeline_chart_64 }}">
              </figure>
            {% endif %}

            <figure class="ggplot">
              <figcaption>
                {{ lc_config['name'] }} by Subpopulation<br>(most recent measures)
              </figcaption>
              <img src="data:image/png;base64,{{ lc.bar_chart_64 }}">
              <figcaption class="interpreting-link">
                <a href="#interpreting-the-graphs">See here for more information about graphs.</a>
              </figcaption>
            </figure>

            <!-- LC-specific open responses -->

            {% if use_open_responses %}
              <h3 style="margin-top: 0">Recent Responses</h3>

              <!-- I will use array instead of the boolean because I need global scope https://stackoverflow.com/questions/4870346/can-a-jinja-variables-scope-extend-beyond-in-an-inner-block -->
              {% set any_lc_responses = [] %}

              {% for q_id in lc_config['open_response_q_ids'] %}
                {% set q_config = config['open_response_questions'][q_id] %}
                {% set responses = open_responses[q_id] %}

                {% if responses | length %}
                  {% if any_lc_responses.append('1') %} {%endif%}
                  <div id="{{ q_id }}" class="responses-wrapper">
                    {#
                      IMPORTANT! See the warning at the top of this file
                      regarding the "safe" filter.
                    #}
                    <p><em>{{ q_config['intro_text'] | safe }}</em></p>
                    <ul class="responses">
                      {% for r in responses %}
                      <li>{{ r | truncate(10000, true) }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %} {# end display only if responses exist #}

              {% endfor %} {# end loop of open response questions for this lc #}

              {% if not any_lc_responses %}
                <p><em>No responses to display.</em></p>
              {% endif %}
            {% endif %} {# end use_open_responses #}

          </div> <!-- end .learning-condition-section -->

        {% endif %} {# end display only if lc is active #}

        {{ sep }}
      {% endfor %} {# end loop of learning conditions #}

      {% if use_open_responses %}
        <h2>Overall Recent Responses</h2>

        {% set any_overall_repsonses = [] %}
        {% for q_id in config['general_open_response_q_ids'] %}

          {% set q_config = config['open_response_questions'][q_id] %}
          {% set responses = open_responses[q_id] %}

          {% if responses | length %}
            {% if any_overall_repsonses.append('1') %} {%endif%}
            <div id="{{ q_id }}" class="responses-wrapper">

              {#
                IMPORTANT! See the warning at the top of this file
                regarding the "safe" filter.
              #}
              <p><em>{{ q_config['intro_text'] | safe }}</em></p>

              <ul class="responses">
                {% for r in responses %}
                <li>{{ r | truncate(10000, true) }}</li>
                {% endfor %}
              </ul>

            </div>
          {% endif %} {# end display only if responses exist #}

        {% endfor %} {# end loop of general open response questions #}

        {% if not any_overall_repsonses %}
          <p><em>No responses to display.</em></p>
        {% endif %}
      {% endif %} {# end use_open_responses #}

      <div class="page-break"></div>


      <h2 id="interpreting-the-graphs">Interpreting the Graphs</h2>

      <ul>
        <li>
          <p>
            Missing values: Any gray bars marked with “n/a” indicate
            that there were fewer than five students in one or more categories
            for that response. We do not display disaggregated results when
            this happens so that individual student responses remain private.
          </p>
        </li>
        <li>
          <p>
            Disaggregation: To help educators recognize and address important
            disparities in student experience, this report disaggregates
            student responses by structural advantage/disadvantage across lines
            of racial and gender identity. The “Race Struct. Disadv.” group
            includes students who self-identity as Black, Latinx, Pacific
            Islander, and/or Native American in the survey. The “Gender Struct.
            Disadv.” group includes students who self-identify as Female or
            Non-Binary/Other Gender. These groups tend to be structurally
            disadvantaged in the U.S. educational system on a national level
            according to national statistics. For more information, please see
            our
            <a href="//perts.net/copilot/faq#how-does-copilot-disaggregate-results">FAQ</a>.
          </p>
        </li>
        <li>
          <p>
            The percentage values on the graphs show the percent of students
            who responded in an ideal range to the associated statements.
            Generally, this means they endorsed statements or groups of
            statements by selecting either “Agree” or “Strongly Agree” in a
            Likert scale. In some cases, the ideal responses were to deny or
            oppose statements by selecting “Disagree” or “Strongly Disagree” in
            the same Likert scale.
          </p>
        </li>
        <li>
          <p>
            Statistical significance in the bar graphs is marked with asterisks
            (* p &lt; .05, ** p &lt; .01, *** p &lt; .001).
          </p>
        </li>
        <li>
          <p>
            This report can be shared by forwarding the URL of this page. Links
            that you share will expire after 30 days.
          </p>
        </li>
      </ul>

    </div>

  </body>
</html>
